*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  width: 100%;
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[id="zip"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px 10px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[name="other-desc"] {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 2px 10px;
  width: 70%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px; 

}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

input:focus,
textarea:focus {
  background-color: #FFFF66;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #2D3945;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #FFF;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

button:hover {
  background: #455565;
}

fieldset {
  margin-bottom: 0;
  border: none;
}

.last-fs {
  margin-bottom: 7%;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.banner-top {
  background-color: #2D3945;
  color: #fff;
  padding: 3% 0 .5% 0;
}

hr.top-header {
  background-color: #2D3945;
  width: 90%;
  border-top: 5px solid #000;
}

hr.bot-header {
  background-color: #2D3945;
  width: 90%;
  border-top: 2px solid #000;
  margin-top: -6px;
}

hr.form-bar {
  background-color: #2D3945;
  width: 90%;
  border-top: 2px solid #000;
  margin: -6px auto 10px auto;
}

.colored-header {
  padding-top: 15px;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.form-header {
  font-size: 1.5em;
  text-align: left;
}

.label-clear {
  margin-top: 10px;
}

.disclaimer {
  font-size: .75em;
  margin-top: -25px;
}

.copyright {
  font-size: .75em;
  text-align: center;
}

.intro-text {
    font-weight: bold;
    font-style: italic;
    display: block;
    margin-top: 10px;
    font-size: 1.3em;
}

.intro-desc {
    font-weight: bold;
    font-style: italic;
    display: block;
    font-size: .75em;
}

.img-caption {
  font-size: .60em;
  font-weight: normal;
}

.block {
  display: block;
}

.header-img {
  margin-top: 10px;
}


/*===============================
  MEDIA QUERIES
==============================*/

@media screen and (min-width: 480px) {

  form,
  .container,
  hr.top-header,
  hr.bot-header {
    width: 80%;
  }

  hr.form-bar {
    width: 100%;   
}

  input[id="zip"],
  input[name="other-desc"] {
    width: 55%;
}

}

@media screen and (min-width: 760px) {

  form,
  .container,
  hr.top-header,
  hr.bot-header {
    width: 65%;
    max-width: 1024px;
  }

  form {
    background-color: transparent;
  }

  fieldset {
    margin: 4% 0;
  }

}
